/* =============== General Style =============== */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lateef:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lateef" , sans-serif;
}

body {
    direction: rtl;
}

.container {
    width: 85%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h2 {
    font-size: clamp(1rem, 1.8vw, 2rem);
    font-weight: 800;
}

p {
    font-size: clamp(1rem, 1.4vw, 1.5rem);
    font-weight: 500;
}

/* =============== COMMON STYLE =============== */

/* ========== HEADER ========== */

header {
    margin: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content-en {
    width: 45px;
    height: 40px;
    border-radius: 5px;
    background-color: #e87524;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Fira Sans" , sans-serif;
    font-weight: 700;
    cursor: pointer;
}

/* ========== FOOTER ========== */

footer {
    background-color: #e87524;
    color: #fff;
    height: 130px;
    display: flex;
    align-items: center;
    margin-top: 120px;
}

.container-footer {
    width: 82%;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    font-size: clamp(1rem, 1.4vw, 1.5rem);
    font-weight: 600;
}

.footer-content-media p {
    padding-right: 5px;
    margin-bottom: 10px;
}

.footer-content-media-list {
    display: flex;
    list-style: none;
    gap: 10px;
}

.footer-content-media-list li a i {
    color: #fff;
}

.footer-content-contact div span {
    font-size: clamp(1rem, 1.2vw, 1.3rem);
    font-weight: 500;
    margin-left: 3px;
}

/* ========== MEDIA QUERIES ========== */

/* Extra small devices */
@media (max-width: 575.98px) {
    .container {
        width: 95%;
        margin: 0;
    }

    .header-content {
        gap: 10px;
    }

    footer {
        height: auto;
    }

    .footer-content {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}

/* Small devices */
@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        width: 95%;
    }

    footer {
        height: auto;
        text-align: center;
    }

    .footer-content {
        flex-direction: column;
        gap: 10px;
    }
}

/* Medium devices */
@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        width: 90%;
    }
}

/* Large devices */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        width: 88%;
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
    .container {
        width: 85%;
    }
}
